<!DOCTYPE html>
<html xmlns="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SEELMANN</title>
    <meta name="Resource-type" content="Document" />



</head>
<body style="background:#87ab03;">

<table width="800" border="0" cellpadding="0" cellspacing="0"  style="font-size:12px;  color:#41520f;  margin:auto; font-family:Helvetica Neue, Helvetica, Arial, sans-serif;" >
  <tr bgcolor="#FFFFFF">
    <td colspan="3" rowspan="2"><img src="http://seelmann.openpartner.cl:33333/seelmann/correo_cliente/logo.png" width="200"></td>
    <td colspan="7" style="font-size:30px; font-style:italic; color:#41520f; padding:20px; font-weight:bold; padding-bottom:0px; text-align:right">Solicitud de Factura</td>
  </tr>
  <tr bgcolor="#FFFFFF">

    <td colspan="5" style="font-size:15px; color:#41520f; padding:5px; padding-top:0px; text-align:right"></td>
  </tr>
  <tr>
    <td colspan="10" bgcolor="#9ac519" style="padding:20px; font-size:15px; text-align:justify; vertical-align:text-top; color:#FFF;">

        NOMBRE : <%= nombre_fac %> <br>
        RUT : <%= rut_fac %><br>
        GIRO : <%= giro_fac %><br>
        DIRECCION : <%= direccion_fac %><br>
        CIUDAD : <%= ciudad_fac %><br>
        COMUNA : <%= comuna_fac %><br>
        TELEFONO : <%= fono_fac %><br>
        CORREO : <%= correo_fac %><br>
        OBSERVACIONES : <%= observaciones %><br>

    </td>
  </tr>
</table>
<div style="padding:20px; margin:auto; width:760px; background:rgb(154, 197, 25);">
<table width="760px" border="0" cellpadding="0" cellspacing="0" style="font-size:12px; color:#41520f; padding:5px; margin:auto; font-family:Helvetica Neue, Helvetica, Arial, sans-serif;">
  <tr style="background:#0033CC; color:#FFF">
    
    <td width="85" style="padding:5px;">ITEM</td>
    <td width="419" style="padding:5px;">DESCRIPCION</td>
    <td width="114" style="padding:5px; text-align:right">CANTIDAD</td>
    <td width="142" style="padding:5px; text-align:right">MONTO</td>
    
  </tr>
  <tr>
    
    <td bgcolor="#f6f6f6" style="border:1px solid #0033CC; border-top:0px;">&nbsp;</td>
    <td bgcolor="#f6f6f6" style="border:1px solid #0033CC; border-top:0px; border-left:0px;">&nbsp;</td>
    <td bgcolor="#f6f6f6" style="border:1px solid #0033CC; border-top:0px; border-left:0px;text-align:right">&nbsp;</td>
    <td bgcolor="#f6f6f6" style="border:1px solid #0033CC; border-top:0px; border-left:0px; text-align:right">&nbsp;</td>
  </tr>
  <tr>
    
    <td bgcolor="#f6f6f6" style="border:1px solid #0033CC; border-top:0px;">&nbsp;</td>
    <td bgcolor="#f6f6f6" style="border:1px solid #0033CC; border-top:0px; border-left:0px;">&nbsp;</td>
    <td bgcolor="#f6f6f6" style="border:1px solid #0033CC; border-top:0px; border-left:0px;text-align:right">&nbsp;</td>
    <td bgcolor="#f6f6f6" style="border:1px solid #0033CC; border-top:0px; border-left:0px;text-align:right">&nbsp;</td>
  </tr>
  <tr>
    
    <td bgcolor="#f6f6f6" style="border:1px solid #0033CC; border-top:0px;">&nbsp;</td>
    <td bgcolor="#f6f6f6" style="border:1px solid #0033CC; border-top:0px; border-left:0px;">&nbsp;</td>
    <td bgcolor="#f6f6f6" style="border:1px solid #0033CC; border-top:0px; border-left:0px;text-align:right">&nbsp;</td>
    <td bgcolor="#f6f6f6" style="border:1px solid #0033CC; border-top:0px; border-left:0px;text-align:right">&nbsp;</td>
  </tr>
  <tr>
    
    <td bgcolor="#f6f6f6" style="border:1px solid #0033CC; border-top:0px;">&nbsp;</td>
    <td bgcolor="#f6f6f6" style="border:1px solid #0033CC; border-top:0px; border-left:0px;">&nbsp;</td>
    <td bgcolor="#f6f6f6" style="border:1px solid #0033CC; border-top:0px; border-left:0px;text-align:right">&nbsp;</td>
    <td bgcolor="#f6f6f6" style="border:1px solid #0033CC; border-top:0px; border-left:0px;text-align:right">&nbsp;</td>
  </tr>
  <tr>
    
    <td colspan="2">&nbsp;</td>
    <td style="padding:5px; background:#0033CC; color:#FFF; text-align:right; border:1px solid #999; border-top:0px;">TOTAL A PAGAR</td>
    <td bgcolor="#f6f6f6" style="border:1px solid #0033CC; border-left:0px; border-top:0px;">&nbsp;</td>
  </tr>
</table>
</div>
</body>
</html>